 /*Configuracion inicial de la página*/
/*Resetendo el layout */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
}

.saturate{
  width: 6rem;
  height: 4rem;
  margin:1vh;
}

.saturate:hover {filter: opacity(.5);}



.logo-ada{
  height: 4.5rem;
}

.fondo-grey{
  background-color: #292929;
}

.text-red{
  color:#F46E5B
 !important;
}


a.text-red:hover{
  text-decoration:underline !important;
  color: white;
}

.size-nav{
  font-size:2.5rem;
}



/*---------------------imagen perfil---------------------*/
.profile:hover{
  

  -webkit-transform: rotateY(180deg);
  -webkit-transform-style: preserve-3d;
  transform: rotateY(180deg);
  transform-style: preserve-3d;}


 

/*------------------------------------------*/

.text-paris{
  font-family: 'Parisienne', cursive;
  
 
}

.text-rancho{
  font-family: 'Rancho', cursive;
}

.text-bad{
  font-family: 'Bad Script', cursive;
}


.name{
  font-size: 5.5rem;
  text-decoration:underline;
}




.list-menu li{
  display: inline;
  font-size:1.5rem;
  font-weight: bold;
}



.flex{
  display: flex;
  justify-content: center;
}

.big-title{
  
  
  font-size: 8rem;
}


/*.line{
  outline: solid 1px green;
}
*/
.text-white{
  color: white;
}
a.text-white{
  color: white;
}

a.text-white:hover{
  color: white;
  text-decoration: underline;
}

.text-link{
  font-size:1.6rem;
}



.text-black{
color: black;
}

.text-gray{
  color: #6B6161;
}
a.text-gray{
  color: #6B6161;
}

a.text-gray:hover{
  text-decoration: underline;
}

.bg-red{
  background-color:#F7484E;
}

.bg-petalos{
  background-image:url('../assets/images/petalos.png')  ;
  background-size:100%;
}



.borde{
 
  /*box-shadow: 5px 5px 5px #F45B97 ; #DAF7A6 */
}

.text-section{

 font-size: 2.5rem;
}
.img-skill{
  width:10rem;
  height:10rem;
  margin:1rem;
}

.margin-skill{
  margin:1rem;
}

.img-icon{
  width:20%;
 
}

.mail{
  padding:1rem;
  background-color: white;
  border-radius:20px;
  border:dotted 5px  #6B6161;
  font-size: 2.5rem;
}

footer{
  padding: 1rem;
}


@media screen and (min-width: 768px) {
  .grow:hover
  {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  }

  .grow-big:hover
  {
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
  }

  .img-port{
    width: 70.8% !important;
    margin-left:15%;
  }
  
  .img-port2{
    width: 76% !important;
    margin-left:12%;
  }

  .saturate{
    width: 10rem;
    height: 5rem;
    margin:1vh;
  }
}




