 /*Configuracion inicial de la página*/
/*Resetendo el layout */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
}


.logo-ada{
  height: 2.5rem;
}

.fondo-nav{
  background-color: #005D6C;
}

.color-nav{
  color:#00C9B1 !important;
  
}

.size-nav{
  font-size:2rem;
}

.bg-fondo{
  background-color: #EFC5E3;
}

.text-pink{
  color:#050727;
}


/*Flexbox para la barra de navegación*/



.bg-transparent{
  background-color: transparent;
}





.description{
  margin-top: 12rem;
  font-size: 2rem;
}



.foot-img{
  margin-top:1rem;
  margin-bottom: 1rem;
  height:4rem;
}

/*
@media screen and (max-width: 768px) {
  .text-li{
    margin:0;
  }
  
}

*/




.help{
  display:flex;
  align-items:space-between;
  justify-content: space-around;
  
 outline: solid 1px red;
}







