 /*Configuracion inicial de la página*/
/*Resetendo el layout */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
}


.logo-ada{
  height: 4.5rem;
}

.fondo-grey{
  background-color: #292929;
}

.text-red{
  color:#F46E5B
 !important;
}

.text-pink{
  color:#e2b6ba !important;
}

a.text-red:hover{
  text-decoration:underline !important;
  color: white;
}

.size-nav{
  font-size:2.5rem;
}

.margin-top{
  margin-top: 15vh;
}
.padding-top{
  padding-top: 13vh;
}

/*---------------------imagen perfil---------------------*/
.profile:hover{
  

  -webkit-transform: rotateY(180deg);
  -webkit-transform-style: preserve-3d;
  transform: rotateY(180deg);
  transform-style: preserve-3d;}


/*
@-webkit-keyframes  
{
15%
{
-webkit-transform: translateX(5px);
transform: translateX(5px);
}
30%
{
-webkit-transform: translateX(-5px);
transform: translateX(-5px);
}
50%
{
-webkit-transform: translateX(3px);
transform: translateX(3px);
}
65%
{
-webkit-transform: translateX(-3px);
transform: translateX(-3px);
}
80%
{
-webkit-transform: translateX(2px);
transform: translateX(2px);
}
100%
{
-webkit-transform: translateX(0);
transform: translateX(0);
}
}
@keyframes swing
{
15%
{
-webkit-transform: translateX(5px);
transform: translateX(5px);
}
30%
{
-webkit-transform: translateX(-5px);
transform: translateX(-5px);
}
50%
{
-webkit-transform: translateX(3px);
transform: translateX(3px);
}
65%
{
-webkit-transform: translateX(-3px);
transform: translateX(-3px);
}
80%
{
-webkit-transform: translateX(2px);
transform: translateX(2px);
}
100%
{
-webkit-transform: translateX(0);
transform: translateX(0);
}
}
/*------------------------------------------*/

.text-paris{
  font-family: 'Parisienne', cursive;
  
 
}

.name{
  font-size: 5.5rem;
  text-decoration:underline;
}




.list-menu li{
  display: inline;
  font-size:1.5rem;
  font-weight: bold;
}



.flex{
  display: flex;
  justify-content: center;
}

.big-title{
  
  
  font-size: 8rem;
}

.padding-section{
  
  
  padding: 2.5rem;
  
}

.text-white{
  color: white;
}
a.text-white{
  color: white;
}



.margin-section{
  margin-top: 13vh;
}

.text-black{
color: black;
}

.text-gray{
  color: #6B6161;
}
a.text-gray{
  color: #6B6161;
}

a.text-gray:hover{
  text-decoration: underline;
}

.bg-red{
  background-color:#F7484E;
}

.bg-petalos{
  background-image:url('../assets/images/petalos.png')  ;
  background-size:100%;
}



.borde{
 
  /*box-shadow: 5px 5px 5px #F45B97 ; #DAF7A6 */
}

.text-section{

 font-size: 2.5rem;
}
.img-skill{
  width:10rem;
  height:10rem;
}

/*
@media screen and (max-width: 768px) {
  .text-li{
    margin:0;
  }
  
}

*/










